### Import necessary libraries

In [12]:
import os
import pandas as pd

### Merge data from each month into one CSV

In [24]:
path = "./data/England/Premier_League"
files = [file for file in os.listdir(path) if not file.startswith('.')] # Ignore hidden files

all_seasons_data = pd.DataFrame()  # Create empty DataFrame

for file in files:
    current_data = pd.read_csv(path+"/"+file)
    all_seasons_data = pd.concat([all_seasons_data, current_data])   #Merge all files from directory
    
all_seasons_data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,14/08/10,Aston Villa,West Ham,3.0,0.0,H,2.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,14/08/10,Blackburn,Everton,1.0,0.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,14/08/10,Bolton,Fulham,0.0,0.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,14/08/10,Chelsea,West Brom,6.0,0.0,H,2.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,14/08/10,Sunderland,Birmingham,2.0,2.0,D,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
all_seasons_data.columns  # Display all columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=139)

In [25]:
# Choose only needed columns
all_data=all_seasons_data[['Date','HomeTeam','AwayTeam','Referee','BWH','BWD','BWA','BbAv<2.5','BbAv>2.5','Avg<2.5','Avg>2.5','FTHG','FTAG','FTR']]
all_data.head()

,Date,HomeTeam,AwayTeam,Referee,BWH,BWD,BWA,BbAv<2.5,BbAv>2.5,Avg<2.5,Avg>2.5,FTHG,FTAG,FTR
0,14/08/10,Aston Villa,West Ham,M Dean,1.85,3.40,4.10,1.75,2.01,NaN,NaN,3.0,0.0,H
1,14/08/10,Blackburn,Everton,P Dowd,2.75,3.25,2.45,1.70,2.08,NaN,NaN,1.0,0.0,H
2,14/08/10,Bolton,Fulham,S Attwell,2.15,3.25,3.25,1.69,2.09,NaN,NaN,0.0,0.0,D
3,14/08/10,Chelsea,West Brom,M Clattenburg,1.15,6.75,16.00,2.49,1.49,NaN,NaN,6.0,0.0,H
4,14/08/10,Sunderland,Birmingham,A Taylor,2.15,3.20,3.30,1.65,2.16,NaN,NaN,2.0,2.0,D

## Clean up the data!

### Drop rows of NAN

In [26]:
# Find NAN
nan_df = all_data[all_data.isna().any(axis=1)]
display(nan_df.head())  # Display rows with NaN values

all_data['Avg<2.5'].fillna(all_data['BbAv<2.5'], inplace=True)  #Replace NaN values in AvgY2.5 column with values from BbAv<2.5 column
all_data['Avg>2.5'].fillna(all_data['BbAv>2.5'], inplace=True)

df=all_data.drop(columns=['BbAv<2.5','BbAv>2.5']) # Drop columns 
df=df.dropna(how='all')  # Drop rows with all NaN values

df.head()

nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())

,Date,HomeTeam,AwayTeam,Referee,BWH,BWD,BWA,BbAv<2.5,BbAv>2.5,Avg<2.5,Avg>2.5,FTHG,FTAG,FTR
0,14/08/10,Aston Villa,West Ham,M Dean,1.85,3.40,4.10,1.75,2.01,NaN,NaN,3.0,0.0,H
1,14/08/10,Blackburn,Everton,P Dowd,2.75,3.25,2.45,1.70,2.08,NaN,NaN,1.0,0.0,H
2,14/08/10,Bolton,Fulham,S Attwell,2.15,3.25,3.25,1.69,2.09,NaN,NaN,0.0,0.0,D
3,14/08/10,Chelsea,West Brom,M Clattenburg,1.15,6.75,16.00,2.49,1.49,NaN,NaN,6.0,0.0,H
4,14/08/10,Sunderland,Birmingham,A Taylor,2.15,3.20,3.30,1.65,2.16,NaN,NaN,2.0,2.0,D

C:\Users\Vladimir\anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

Empty DataFrame
Columns: [Date, HomeTeam, AwayTeam, Referee, BWH, BWD, BWA, Avg<2.5, Avg>2.5, FTHG, FTAG, FTR]
Index: []

In [27]:
df.head()

,Date,HomeTeam,AwayTeam,Referee,BWH,BWD,BWA,Avg<2.5,Avg>2.5,FTHG,FTAG,FTR
0,14/08/10,Aston Villa,West Ham,M Dean,1.85,3.40,4.10,1.75,2.01,3.0,0.0,H
1,14/08/10,Blackburn,Everton,P Dowd,2.75,3.25,2.45,1.70,2.08,1.0,0.0,H
2,14/08/10,Bolton,Fulham,S Attwell,2.15,3.25,3.25,1.69,2.09,0.0,0.0,D
3,14/08/10,Chelsea,West Brom,M Clattenburg,1.15,6.75,16.00,2.49,1.49,6.0,0.0,H
4,14/08/10,Sunderland,Birmingham,A Taylor,2.15,3.20,3.30,1.65,2.16,2.0,2.0,D

### Clean up referee column

In [28]:
print(df['Referee'].unique()) # Display all referees

['M Dean' 'P Dowd' 'S Attwell' 'M Clattenburg' 'A Taylor' 'A Marriner'
 'M Halsey' 'L Probert' 'M Atkinson' 'C Foy' 'M Jones' 'M Oliver'
 'L Mason' 'K Friend' 'P Walton' 'H Webb' 'N Swarbrick' 'J Moss' 'R East'
 'C Pawson' 'R Madley' 'P Tierney' 'K Stroud' 'G Scott' 'S Hooper'
 'C Kavanagh' 'l Mason' 'D Coote' 'A Madley' 'O Langford' 'P Bankes'
 'T Robinson' 'R Jones' 'S Scott' 'D England' 'Jj Moss']

In [29]:
jjmoss=df.loc[df['Referee']=='Jj Moss']  # Find referee with typing mistake in name
jjmoss
df.loc[df['Referee']=='Jj Moss','Referee']='J Moss' # Correct typing mistake
referee_list=list((df['Referee'].unique()))
print (len(referee_list))
print (referee_list)

35
['M Dean', 'P Dowd', 'S Attwell', 'M Clattenburg', 'A Taylor', 'A Marriner', 'M Halsey', 'L Probert', 'M Atkinson', 'C Foy', 'M Jones', 'M Oliver', 'L Mason', 'K Friend', 'P Walton', 'H Webb', 'N Swarbrick', 'J Moss', 'R East', 'C Pawson', 'R Madley', 'P Tierney', 'K Stroud', 'G Scott', 'S Hooper', 'C Kavanagh', 'l Mason', 'D Coote', 'A Madley', 'O Langford', 'P Bankes', 'T Robinson', 'R Jones', 'S Scott', 'D England']

### Clean up teams columns

In [30]:
print(df['HomeTeam'].unique()) # Display all home teams

['Aston Villa' 'Blackburn' 'Bolton' 'Chelsea' 'Sunderland' 'Tottenham'
 'Wigan' 'Wolves' 'Liverpool' 'Man United' 'Arsenal' 'Birmingham'
 'Everton' 'Stoke' 'West Brom' 'West Ham' 'Fulham' 'Newcastle' 'Man City'
 'Blackpool' 'QPR' 'Swansea' 'Norwich' 'Reading' 'Southampton'
 'Crystal Palace' 'Hull' 'Cardiff' 'Leicester' 'Burnley' 'Bournemouth'
 'Watford' 'Middlesbrough' 'Brighton' 'Huddersfield' 'Sheffield United'
 'Leeds']

In [31]:
print(df['AwayTeam'].unique()) # Display all away teams

['West Ham' 'Everton' 'Fulham' 'West Brom' 'Birmingham' 'Man City'
 'Blackpool' 'Stoke' 'Arsenal' 'Newcastle' 'Blackburn' 'Wolves'
 'Tottenham' 'Sunderland' 'Bolton' 'Chelsea' 'Man United' 'Aston Villa'
 'Liverpool' 'Wigan' 'Norwich' 'Swansea' 'QPR' 'Southampton' 'Reading'
 'Cardiff' 'Hull' 'Crystal Palace' 'Leicester' 'Burnley' 'Watford'
 'Bournemouth' 'Middlesbrough' 'Huddersfield' 'Brighton'
 'Sheffield United' 'Leeds']

### Prepare date column

In [33]:
def get_month(date):              # Define function which splits string from Date columns, and return Month
    return date.split('/')[1]
df['Month']=df['Date'].apply(lambda x: get_month(x))  # Make new column Month
df['Month']=pd.to_numeric(df['Month'])   # Change tpe of column from string to integer
print(df['Month'].unique())

[ 8  9 10 11 12  1  2  3  4  5  6  7]

In [35]:
def get_year(date):         # Define function which splits string from Date columns, and return Year
    return date.split('/')[2]
df['Year']=df['Date'].apply(lambda x: get_year(x))    # Make new column Year
years=list(df['Year'].unique())       #Create a list with all years from Year column
for year in years:
    if len(year)==2:
        df.loc[df['Year']==year,'Year']=f'20{year}'    # Change format of year from yy to yyyy
        
print(df['Year'].unique())

['2010' '2011' '2012' '2013' '2014' '2015' '2016' '2017' '2018' '2019'
 '2020']

In [36]:
df['Date']=pd.to_datetime(df['Date'])   # Switch Date column to datetime format
df['Day_of_year'] = df['Date'].dt.dayofyear  #Add new column Day of year
df['Day_of_week'] = df['Date'].dt.day_name()  ##Add new column Day of week
print(df['Day_of_week'].unique())

['Saturday' 'Sunday' 'Monday' 'Tuesday' 'Thursday' 'Wednesday' 'Friday']

In [37]:
df['Season']=1   # Add new column Season
years=list(df['Year'].unique())
for i in range(len(years)):
    df.loc[(df['Month']>=8) & (df['Year']==years[i]),'Season']=f'{years[i]}/{int(years[i])+1}'  # Depending on month and year, create value for Season
    df.loc[(df['Month']<8) & (df['Year']==years[i]),'Season']=f'{int(years[i])-1}/{years[i]}'
df.head()

,Date,HomeTeam,AwayTeam,Referee,BWH,BWD,BWA,Avg<2.5,Avg>2.5,FTHG,FTAG,FTR,Month,Year,Day_of_year,Day_of_week,Season
0,2010-08-14,Aston Villa,West Ham,M Dean,1.85,3.40,4.10,1.75,2.01,3.0,0.0,H,8,2010,226,Saturday,2010/2011
1,2010-08-14,Blackburn,Everton,P Dowd,2.75,3.25,2.45,1.70,2.08,1.0,0.0,H,8,2010,226,Saturday,2010/2011
2,2010-08-14,Bolton,Fulham,S Attwell,2.15,3.25,3.25,1.69,2.09,0.0,0.0,D,8,2010,226,Saturday,2010/2011
3,2010-08-14,Chelsea,West Brom,M Clattenburg,1.15,6.75,16.00,2.49,1.49,6.0,0.0,H,8,2010,226,Saturday,2010/2011
4,2010-08-14,Sunderland,Birmingham,A Taylor,2.15,3.20,3.30,1.65,2.16,2.0,2.0,D,8,2010,226,Saturday,2010/2011

### Make targets

In [38]:
df['Number_of_goals']=df['FTHG']+df['FTAG'] # Add new columns Number_of_goals, which represent sum of home and way goals
df.head()

,Date,HomeTeam,AwayTeam,Referee,BWH,BWD,BWA,Avg<2.5,Avg>2.5,FTHG,FTAG,FTR,Month,Year,Day_of_year,Day_of_week,Season,Number_of_goals
0,2010-08-14,Aston Villa,West Ham,M Dean,1.85,3.40,4.10,1.75,2.01,3.0,0.0,H,8,2010,226,Saturday,2010/2011,3.0
1,2010-08-14,Blackburn,Everton,P Dowd,2.75,3.25,2.45,1.70,2.08,1.0,0.0,H,8,2010,226,Saturday,2010/2011,1.0
2,2010-08-14,Bolton,Fulham,S Attwell,2.15,3.25,3.25,1.69,2.09,0.0,0.0,D,8,2010,226,Saturday,2010/2011,0.0
3,2010-08-14,Chelsea,West Brom,M Clattenburg,1.15,6.75,16.00,2.49,1.49,6.0,0.0,H,8,2010,226,Saturday,2010/2011,6.0
4,2010-08-14,Sunderland,Birmingham,A Taylor,2.15,3.20,3.30,1.65,2.16,2.0,2.0,D,8,2010,226,Saturday,2010/2011,4.0

In [39]:
df['Number_of_goals'].astype('float32')  # Change type of column from string to float

df.loc[df['Number_of_goals']<2.5,'Number_of_goals']="0-2"  #If number of goals is <2.5 rename to 0-2
df['Number_of_goals'].astype(str)  # Change type of column to string
df.loc[df['Number_of_goals']!='0-2','Number_of_goals']="3+"   # If value is not 0-2, then is 3+
print(df['Number_of_goals'].unique())

['3+' '0-2']

### Insert GameID column

In [ ]:
#Some training algorithms require ID column. In that case, just uncomment code below and add Game_ID column to feature and labels datasets
#df = df.reset_index()
#df['Game_ID'] = df.index + 1
#df.tail()

## Define column type

In [40]:
columns=list(df.columns)  # Create a list of all collumns names
print (columns)

['Date', 'HomeTeam', 'AwayTeam', 'Referee', 'BWH', 'BWD', 'BWA', 'Avg<2.5', 'Avg>2.5', 'FTHG', 'FTAG', 'FTR', 'Month', 'Year', 'Day_of_year', 'Day_of_week', 'Season', 'Number_of_goals']

In [41]:
for col in columns:
    type_of_col=df[col].dtypes
    print ('Type of column', col, 'is', type_of_col)   # Display datatypes for each column

Type of column Date is datetime64[ns]
Type of column HomeTeam is object
Type of column AwayTeam is object
Type of column Referee is object
Type of column BWH is float64
Type of column BWD is float64
Type of column BWA is float64
Type of column Avg<2.5 is float64
Type of column Avg>2.5 is float64
Type of column FTHG is float64
Type of column FTAG is float64
Type of column FTR is object
Type of column Month is int64
Type of column Year is object
Type of column Day_of_year is int64
Type of column Day_of_week is object
Type of column Season is object
Type of column Number_of_goals is object

In [42]:
df['Year']=pd.to_numeric(df['Year'])  # Change datatype where is needed

for col in columns:
    type_of_col=df[col].dtypes
    print ('Type of column', col, 'is', type_of_col)

Type of column Date is datetime64[ns]
Type of column HomeTeam is object
Type of column AwayTeam is object
Type of column Referee is object
Type of column BWH is float64
Type of column BWD is float64
Type of column BWA is float64
Type of column Avg<2.5 is float64
Type of column Avg>2.5 is float64
Type of column FTHG is float64
Type of column FTAG is float64
Type of column FTR is object
Type of column Month is int64
Type of column Year is int64
Type of column Day_of_year is int64
Type of column Day_of_week is object
Type of column Season is object
Type of column Number_of_goals is object

## Create feature dataset

In [43]:
# Define dataset with features
dfX=df[['HomeTeam', 'AwayTeam','Referee', 'BWH', 'BWD', 'BWA', 'Avg<2.5', 'Avg>2.5','Day_of_year','Day_of_week','Month', 'Year','Season']]
dfX.head(30)

,HomeTeam,AwayTeam,Referee,BWH,BWD,BWA,Avg<2.5,Avg>2.5,Day_of_year,Day_of_week,Month,Year,Season
0,Aston Villa,West Ham,M Dean,1.85,3.40,4.10,1.75,2.01,226,Saturday,8,2010,2010/2011
1,Blackburn,Everton,P Dowd,2.75,3.25,2.45,1.70,2.08,226,Saturday,8,2010,2010/2011
2,Bolton,Fulham,S Attwell,2.15,3.25,3.25,1.69,2.09,226,Saturday,8,2010,2010/2011
3,Chelsea,West Brom,M Clattenburg,1.15,6.75,16.00,2.49,1.49,226,Saturday,8,2010,2010/2011
4,Sunderland,Birmingham,A Taylor,2.15,3.20,3.30,1.65,2.16,226,Saturday,8,2010,2010/2011
5,Tottenham,Man City,A Marriner,2.35,3.30,2.85,1.84,1.91,226,Saturday,8,2010,2010/2011
6,Wigan,Blackpool,M Halsey,1.78,3.40,4.50,1.68,2.11,226,Saturday,8,2010,2010/2011
7,Wolves,Stoke,L Probert,2.25,3.15,3.10,1.60,2.25,226,Saturday,8,2010,2010/2011
8,Liverpool,Arsenal,M Atkinson,2.45,3.25,2.75,1.62,2.21,227,Sunday,8,2010,2010/2011
9,Man United,Newcastle,C Foy,1.22,5.50,12.50,2.05,1.72,228,Monday,8,2010,2010/2011
10,Arsenal,Blackpool,M Jones,1.16,6.50,15.50,2.69,1.42,233,Saturday,8,2010,2010/2011
11,Birmingham,Blackburn,M Oliver,2.20,3.10,3.30,1.59,2.27,233,Saturday,8,2010,2010/2011
12,Everton,Wolves,L Mason,1.45,4.00,7.00,1.81,1.94,233,Saturday,8,2010,2010/2011
13,Stoke,Tottenham,C Foy,3.30,3.20,2.15,1.64,2.18,233,Saturday,8,2010,2010/2011
14,West Brom,Sunderland,K Friend,2.45,3.20,2.75,1.69,2.11,233,Saturday,8,2010,2010/2011
15,West Ham,Bolton,A Marriner,2.15,3.25,3.25,1.77,1.99,233,Saturday,8,2010,2010/2011
16,Wigan,Chelsea,M Dean,12.50,5.50,1.22,2.20,1.61,233,Saturday,8,2010,2010/2011
17,Fulham,Man United,P Walton,6.25,3.80,1.53,1.82,1.94,234,Sunday,8,2010,2010/2011
18,Newcastle,Aston Villa,M Atkinson,2.85,3.25,2.35,1.69,2.11,234,Sunday,8,2010,2010/2011
19,Man City,Liverpool,P Dowd,2.25,3.20,3.05,1.62,2.20,235,Monday,8,2010,2010/2011
20,Blackburn,Arsenal,C Foy,6.00,3.75,1.55,1.95,1.81,240,Saturday,8,2010,2010/2011
21,Blackpool,Fulham,M Oliver,2.95,3.30,2.30,1.82,1.95,240,Saturday,8,2010,2010/2011
22,Chelsea,Stoke,M Atkinson,1.10,8.25,20.00,2.99,1.35,240,Saturday,8,2010,2010/2011
23,Man United,West Ham,M Clattenburg,1.12,7.50,18.50,2.73,1.41,240,Saturday,8,2010,2010/2011
24,Tottenham,Wigan,P Dowd,1.22,5.75,11.50,2.48,1.50,240,Saturday,8,2010,2010/2011
25,Wolves,Newcastle,S Attwell,2.35,3.25,2.85,1.66,2.16,240,Saturday,8,2010,2010/2011
26,Aston Villa,Everton,M Jones,2.45,3.20,2.80,1.71,2.07,241,Sunday,8,2010,2010/2011
27,Bolton,Birmingham,K Friend,2.05,3.30,3.45,1.67,2.12,241,Sunday,8,2010,2010/2011
28,Liverpool,West Brom,L Probert,1.22,5.50,12.50,2.28,1.58,241,Sunday,8,2010,2010/2011
29,Sunderland,Man City,M Dean,4.25,3.60,1.75,1.77,1.99,241,Sunday,8,2010,2010/2011

In [44]:
dfX.to_csv('PL_features.csv', index=False)  # Save it as csv file

## Create labels datasets

### Number of goal labels

In [45]:
# Define dataset with labels: Number of goals per game
dfy_goals=df[['Number_of_goals']]
dfy_goals.to_csv('Goals_labels.csv', index=False)

### Winner labels

In [46]:
# # Define dataset with labels: Winner of the game
dfy_winner=df[['FTR']]
dfy_winner.to_csv('Winner_labels.csv', index=False)